#App {
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}

/* Header Text */
#header {
    padding: 5rem 0 3rem 0;
    text-align: center;
    font-size: 2.5rem;
}